@using Portfolio.Models
@model BlogPost
@{
    ViewBag.Title = "Brandon's Blog";
    ViewBag.Message = Model.Title;
    ViewBag.MenuItem = "Blog";
}

@*@Html.AntiForgeryToken()*@
<section id="blog-posts" class="section colored-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2>@ViewBag.Title</h2>
                <h3>@ViewBag.Message</h3>
            </div>
            <div class="col-md-5 blogAccount">
                @Html.Partial("_LoginPartial")
                <br />
                <br />
                <a href="@Url.Action("Index", "Blog")" class="pull-right">Back to Blog Home</a>
            </div>
        </div>
        <div class="post-content">
            <div class="blogBody">
                @Html.Raw(Model.Body)
            </div>
            @if (Model.MediaURL != null) {
                <div class="media-body">
                    <img src="@Model.MediaURL" class="img-responsive" alt="@Model.Title" />
                </div>
            }
        </div>
        <div class="post-meta">
            <ul class="meta-list row">
                <li class="col-md-8">
                    @if (User.IsInRole("Admin") || User.IsInRole("Moderator")) {
                        <span><a href="@Url.Action("Edit", "Blog", new { id =  Model.Id })" class="editDeleteLink">Edit Post</a></span>
                        if (User.IsInRole("Admin")) {
                            <span><a href="@Url.Action("Delete", "Blog", new { id = Model.Id })" class="editDeleteLink">Delete Post</a></span>
                        }
                    }
                    <span>Posted on</span>
                    <span class="black">@Html.DisplayFor(model => model.Created)</span>
                </li>
                <li class="col-md-4 text-right">
                    <span>By Brandon Payne</span>
                </li>
            </ul>
        </div>

        <div class="row">
            @if (Request.IsAuthenticated) {
                <div class="post-comments">
                    <div class="col-md-12">
                        <form class="comment-form" role="form" method="post" action="@Url.Action("AddComment", "Blog")">
                            <input type="hidden" name="PostId" value="@Model.Id" />
                            <input type="hidden" name="slug" value="@Model.Slug" />
                            <input type="hidden" name="Author" value="" />

                            <h5 class="subpage-title">Add Comment</h5>

                            <textarea type="text" name="Body" class="form-control" rows="5"></textarea>
                            <input type="submit" class="btn btn-flat flat-color" value="Post Comment" />
                        </form>
                    </div>
                </div>
            } else {
                <div class="post-comments">
                    <div class="col-md-12">
                        <h5 class="subpage-title">Login to create a comment.</h5>
                    </div>
                </div>
            }

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="subpage-title">
                            @if (Model.Comments.Count == 1) {
                                <span>(1) Comment </span>
                            } else if (Model.Comments.Count >= 2) {
                                <span>(</span>@Model.Comments.Count<span>) Comments </span>
                            } else {
                                <span>Comments </span>
                            }
                        </h5>

                        @foreach (var comment in Model.Comments) {
                            if ((User.IsInRole("Admin") || User.IsInRole("Moderator"))) {
                                <ul class="media-list">
                                    <li class="media">
                                        <div class="media-body">
                                            <h5 class="media-heading">
                                                @Html.DisplayTextFor(model => comment.Author.DisplayName)
                                                <span class="subText">Created: @comment.CreatedDate.ToString("g") </span>
                                                <span>
                                                    <a href="" class="jsCommentClass comment-reply pull-right"
                                                       data-toggle="modal"
                                                       data-target="#editComment"
                                                       data-id="@comment.Id"
                                                       data-body="@comment.Body"
                                                       data-updateddate="@comment.UpdatedDate"
                                                       data-updatedby="@comment.Author.DisplayName"
                                                       data-updatedreason="@comment.UpdateReason">Edit Comment</a>

                                                    <a href="" class="jsCommentClass comment-reply pull-right"
                                                       data-toggle="modal"
                                                       data-target="#deleteComment"
                                                       data-id="@comment.Id"
                                                       data-body="@comment.Body"
                                                       data-removeddate="@comment.RemovedDate"
                                                       data-removedby="@comment.Author.DisplayName"
                                                       data-removereason="@comment.RemoveReason">Remove Comment</a>
                                                </span>
                                            </h5>
                                            @if (comment.IsRemoved != true) {
                                                
                                                <div class="formattedContent">@Html.Raw(comment.Body)</div>
                                                
                                                if (comment.UpdatedBy != null || comment.UpdatedDate != null) {
                                                    <h5 class="media-heading">
                                                        <span class="subText pull-right hiddenMessage">Updated By: @comment.UpdatedBy Date: @comment.UpdatedDate.Value.ToString("g") </span>
                                                    </h5>
                                                }
                                            } else {
                                                <div class="formattedContent commentIsRemoved">@Html.Raw(comment.Body)</div>

                                                if (comment.RemovedBy != null || comment.RemovedDate != null) {
                                                    <h5 class="media-heading">
                                                        <span class="subText pull-right removedMessage">Removed By: @comment.RemovedBy Date: @comment.RemovedDate.Value.ToString("g") </span>
                                                    </h5>
                                                }
                                            }
                                        </div>
                                    </li>
                                </ul>
                            } else {
                                if (comment.IsRemoved != true) {
                                    <ul class="media-list">
                                        <li class="media">
                                            <div class="media-body">
                                                <h5 class="media-heading">
                                                    @Html.DisplayTextFor(model => comment.Author.DisplayName)
                                                    <span class="subText">Created: @comment.CreatedDate.ToString("g") </span>
                                                </h5>
                                                @if (comment.IsRemoved != true) {

                                                    <div class="formattedContent">@Html.Raw(comment.Body)</div>
                                                }
                                            </div>
                                        </li>
                                    </ul>
                                }
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<div id="editComment" class="modal fade" role="dialog">
    <div class="modal-dialog numbersGame">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="post-comments">
                            <div class="col-md-12">
                                <form class="comment-form" role="form" method="post" action="@Url.Action("EditComment", "Blog")">
                                    <input type="hidden" name="PostId" value="@Model.Id" />
                                    <input type="hidden" name="slug" value="@Model.Slug" />
                                    <input type="hidden" id="commentUpdateId" name="Id" value="" />
                                    <input type="hidden" id="commentUpdatedById" name="UpdatedBy" value="" />

                                    <h5 class="subpage-title">Edit Comment</h5>
                                    <label>Comment Body: </label>
                                    <textarea type="text" id="commentUpdateBodyId" class="form-control tinyMceCommentEditor" name="Body" value="" rows="5"></textarea>
                                    <label>Reason for updating: </label>
                                    <input type="text" id="commentUpdatedReasonId" class="form-control" name="UpdateReason" value="" rows="5" />

                                    <input type="submit" class="btn btn-flat flat-color" value="Edit Comment" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="deleteComment" class="modal fade" role="dialog">
    <div class="modal-dialog numbersGame">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="post-comments">
                            <div class="col-md-12">
                                <form class="comment-form" role="form" method="post" action="@Url.Action("DeleteComment", "Blog")">
                                    <input type="hidden" name="PostId" value="@Model.Id" />
                                    <input type="hidden" name="slug" value="@Model.Slug" />
                                    <input type="hidden" id="commentRemoveId" name="Id" value="" />
                                    <input type="hidden" id="commentRemovedById" name="RemovedBy" value="" />
                                    <input type="hidden" name="IsRemoved" value="true" />

                                    <h5 class="subpage-title">Hide Comment</h5>
                                    <label>Comment Body: </label>
                                    <textarea type="text" id="commentRemoveBodyId" class="form-control tinyMceCommentEditor" name="Body" value="" rows="5"></textarea>
                                    <label>Reason for hiding Comment: </label>
                                    <input type="text" id="commentRemoveReasonId" class="form-control" name="RemoveReason" value="" rows="5" />
                                    <input type="submit" class="btn btn-flat flat-color" value="Hide Comment" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        //$(document).ready(function () {
        $('.jsCommentClass').click(function () {
            //Global comment variables
            $('#commentUpdateId').val($(this).attr('data-id'));
            $('#commentUpdateBodyId').val($(this).attr('data-body'));
            $('#commentRemoveId').val($(this).attr('data-id'));
            $('#commentRemoveBodyId').val($(this).attr('data-body'));
            $('#commentRemovedById').val($(this).attr('data-removedby'));
            $('#commentRemoveReasonId').val($(this).attr('data-removereason'));

            //Updated variables
            $('#commentUpdatedById').val($(this).attr('data-updatedby'));
            //$('#commentUpdatedById').val($(this).attr('data-test'));
            $('#commentUpdatedDateId').val($(this).attr('data-updateddate'));
            $('#commentUpdatedReasonId').val($(this).attr('data-updatedreason'));

        });
        //});
    </script>
}